.dub
docs.json
__dummy.html
docs/
/dbestoftimes
dbestoftimes.so
dbestoftimes.dylib
dbestoftimes.dll
dbestoftimes.a
dbestoftimes.lib
dbestoftimes-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
.vscode

# SCSS
public/*/*.css
public/*/*.js