$colorHeader1: #8587eb;
$colorQuote: #5b5381;
$colorStrong: #7375cc;
$colorLink: rgb(85, 170, 255);
$colorLinkBlank: hsl(0, 0%, 95%);
blockquote { border-left: 0.5em solid $colorQuote; }
strong { color: $colorStrong; }
section h2 a { color: $colorLinkBlank; }
section a, .link { color: $colorLink; }
h1 { color: $colorHeader1; }