strong { color: #a18c4b; }
textarea, select, input[type] { border: 2pt solid #8f7c42; }
h1 { color: #b39b53; }
.install { color: #bba564; }
.optional { color: #fada78 !important; }
.performance { color: #d16759 !important; }