$colorStrong: #1aa656;
strong { color: }
textarea, select, input[type] { border: 2pt solid #a1fa83; }

/* Quotes */
blockquote { border-left: 0.5em solid #12733b; }

/* Titlebar */

.guideLinks {
	a {
		color: rgb(129, 129, 129);
		text-decoration: none;
		padding: 0em 1em 0em 0em;
		&:hover {
			color: rgb(255, 255, 255);
			text-decoration-line: initial;
		}
	}
}

.titlecontainer {
	.guideLinks {
		display: flex;
		margin-left: auto;

		@include media("<=900px") {
			margin-top: -100px;
			margin-right: -1000px;
		}

	}

	a {
		color: rgb(170, 170, 170);
		margin-top: auto;
		margin-bottom: auto;
		font-size: 2em;

		&:hover { color: rgb(255, 255, 255); }
		@include media("<=tablet") { font-size: 180%; }
	}
}

	&.show { width: 21.5em; }

	.guideLinks {
		display: none;
		margin-bottom: 2em;
		@include media("<=900px") { display: block; }

		a {
			display: flex;
			font-size: 1.33em;
			color: hsl(0, 0%, 50%);
			text-decoration: none;
			padding: 0.66em 0em 0.66em 0em;
		}
	}

	.active {
		color: rgba(255, 255, 255, 0.786);
	}

	ul {
		list-style: none;
		margin-left: -3em;
	}

	a {
		display: flex;
		font-size: 1.33em;
		color: hsl(0, 0%, 50%);
		text-decoration: none;
		padding: 0.66em 0em 0.66em 0em;
		&:hover {
			color: rgb(255, 255, 255);
			text-decoration-line: initial;
		}
	}
}

#sidenavRight {
	height: 100%;
	width: 13em;
	position: fixed;
	z-index: 2;
	right: 0;
	backdrop-filter: saturate(10%) blur(32px);
	background-color: rgb(44, 44, 44);
	padding-top: 5em;
	box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);

	@include media("<=900px") { width: 0%; }

	a {
		text-decoration: none;
		color: hsl(0, 0%, 50%);
		&:hover {
			color: rgb(255, 255, 255);
			text-decoration-line: initial;
		}
	}
}

}

/* Headers */
h1 {
	color: #23da71;
	font-size: 2.5em;
}

h2 {
	color: #DCDCDC;
	font-size: 1.8em;
}

h1, h2 {
	word-wrap: break-word;
	@include media("<=900px") { line-height: 1.2em; }
}

.install {
	color: #23da71;
	font-size: 1.5em;
}

.optional { color: #fada78 !important; }
.performance { color: #d16759 !important; }

#shillinks { margin-top: auto; }
#shillinks a, #paypal {
	padding: 0.3em 0em;
	font-size: 2em;
	cursor: pointer;

	&:hover { scale: 90%; }
}

#paypalMenu {
	position: fixed;
	background-color: #202020;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.40);
	border-radius: 8px;
	padding: 1em;
	bottom: 8em;
	left: 0em;
	font-size: 0.8em;
	display: none;

	a:hover { scale: 100%; }

	&.show { display: block; }
}

.navigationArrow {
	width: 7.5em;
	height: 7.5em;
	margin: 0.5em 1em 1em 1em;

	&:hover {
		scale: 90%;
		transform: scaleY(90%);
	}
}

/* Modifier classes */
.left { float: left; }
.right { float: right; }
.mirror { rotate: 180deg; }
.transparent {
	background-color: rgba(255, 255, 255, 0) !important;
	box-shadow: none !important;
}

@keyframes slide-down {
	from {
		max-height: 0;
		margin-top: -0.12px;
	}
	to {
		max-height: 5000px;
	}
}

@keyframes slide-up {
	from {
		max-height: 1000px;
	}
	to {
		max-height: 0;
		margin-top: -0.12px;
	}
}