$colorStrong: #00f23c;
$colorInput: #eba91c;
$colorQuote: #1bcc20;
$colorHeader1: #23ff29;
$colorInstall: #33ff72;
$colorLink: rgb(45, 136, 226) !important;
strong { color: $colorStrong }
textarea, select, input[type] { border: 2pt solid $colorInput; }
blockquote { border-left: 0.5em solid $colorQuote; }
h1 { color: $colorHeader1; }
.install { color: $colorInstall; }
section a, .link { color: $colorLink; }