$colorStrong: rgb(250, 173, 121);
$colorInput: #eba91c;
$colorQuote: rgb(236, 150, 37);
$colorHeader1: #ffb61a;
$colorInstall: rgb(252, 183, 46);
strong { color: $colorStrong }
textarea, select, input[type] { border: 2pt solid $colorInput; }
blockquote { border-left: 0.5em solid $colorQuote; }
h1 { color: $colorHeader1; }
.install { color: $colorHeader1; }